body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,124,1) 42%, rgba(0,212,255,1) 100%);

}
form{
    border: 1px solid;
    padding: 30;
    border-radius: 10px;
    background:white;

    justify-content:space-around;
    align-items: center;
}